body {
    background-color:aquamarine
}

.answers label{
    font-weight: normal !important;
}

col-md-9 {
    text-align: right;
}

/*Not making panels lightblue*/
panel{
    background-color: lightblue
}